<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="con" connectionString="server=10.215.5.69;uid=sa;pwd=wipro@456;database=MISDB"/>
    
    
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings >
 
    <!--<add key="con" value="Data Source=10.215.5.69;Initial Catalog=MISDB;User ID=sa;Password=wipro@456;connection timeout=0"/>-->

  </appSettings>
  
  
</configuration>